<a href="https://colab.research.google.com/github/PLNG211-2-OLFU-QCAbinJohnMichael/PLNG211-2-OLFU-QC/blob/main/Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Conditional Statement

In [ ]:
#if statement
a = 5
b = 4

if b > a:
  print("b is greater than a")
#elif Statement

elif b < a:
  print("b is less than a")

#else statement
else:
  print("they are both equal")

b is less than a

In [ ]:
#Short hand if
a = 5
b = 6

if a > b: print("a is greater than b")
#short hand if .. else

print("a is greater than b")if a > b else print ("a is less than b")

a is less than b

In [ ]:
#And and or statement

a = 5
b = 6
c = 7

if c > b and b > a:
  print("Both operands are TRUE.")

if c > b or a > b:
  print ("at least one of the operand is TRUE")

Both operands are TRUE.
at least one of the operand is TRUE

In [ ]:
#nested if statement
x = 9
if x>10:
  print("above ten")
  if x > 20:
    print("and also above 20")
    if x>30:
        print("and also above 30")
        if x>40:
          print("and also above 40")
          if x>50:
            print("and also above 50")
          else:
            print("but not above 50")
        else:
          print("but not above 40")
    else:
      print("but not above 30")
  else:
    print("but not above 20")
else:
  print("not above 10")

not above 10

In [ ]:
#Example 1
age = int(input("Enter age: "))
if age >= 18:
  print("User is qualified")
else:
  print("User is not qualified")

Enter age: 18
User is qualified

In [ ]:
#for loop
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [ ]:
#Break statement
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [ ]:
#using for loop to display only thursday
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x == "Thursday":
    print(x)
    break

Thursday

In [ ]:
#looping through string
for x in "Philippines":
  print(x)

P
h
i
l
i
p
p
i
n
e
s

In [ ]:
#The range () function
#for x in range (6):
 # print (x)
for x in range (3,6+1,3):
  print (x)

3
6

In [ ]:
#Nested loops
adjective = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
#while loop
i = 1
while i<= 6:
  print(i)
  i+=1

1
2
3
4
5
6

In [ ]:
#while loop with break 
i = 1
while i<= 6:
  print(i)
  if i ==3:
    break
  i+=1

1
2
3

In [ ]:
#while loop with break Application 1. Using while loop, display only 3
i = 1
while i<= 6:
  if i == 3:
    print(i)
    break
  i+=1

3

In [72]:

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [73]:
#else statement in  while
i = 1
while i<6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [74]:
hello = ["Hello 1","Hello 2","Hello 3","Hello 4","Hello 5","Hello 6","Hello 7","Hello 8","Hello 9","Hello 10"]
for x in hello:
  print(x)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10